@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--color-text-0: rgba(0, 0, 0, 0.7);
	--color-text-1: hsl(0, 0%, 98%);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--scrollbar-color: rgba(0, 0, 0, 0.6);
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
}



button {
	font-weight: 700;
	border-radius: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	padding: 4px 16px;
	background-color: rgb(0, 57, 180);
	color: white;
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}


button.icon {
	background-color: transparent;
	color: var(--color-text-0);
	padding: 0 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	cursor: pointer;
	box-shadow: none;
}

button.share{
	background-color: rgb(0, 132, 180);
}

 button.save{
	background-color: rgb(105, 0, 180);	
}

button.search{
	background-color: rgb(105, 0, 180);	
}



@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--scrollbar-color);
		border-radius: 10px;
	}
	
	ul,
	div {
		scrollbar-color: var(--scrollbar-color) transparent;
		scrollbar-width: thin;
	}
  }